services:
  stage-alert:
    build: .
    image: stage-alert-async:latest
    env_file: .env
    shm_size: 1gb
    devices:
      - /dev/bus/usb:/dev/bus/usb
    environment:
      - TZ=America/New York
    volumes:
      - ./data:/data:rw  # persist TOTP cache / seen-offers, etc.
    restart: unless-stopped

