[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
numpy = "*"
pandas = "*"
requests = "*"
beautifulsoup4 = "*"
pyautogui = "*"
pyperclip = "*"
openai = "*"

[dev-packages]
isort = "*"
black = "*"
