[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
numpy = "*"
pandas = "*"
requests = "*"
beautifulsoup4 = "*"
openai = "*"
datetime = "*"
selenium = "*"
aiohttp = "*"
codespell = "*"

[dev-packages]
isort = "*"
black = "*"
codespell = "*"
